#page-2 div 
{
    background-color: #0E0D0C;
    display: inline-block;

}

#page-2 div a 
{
    display: inline-block;
}

#page-2
{
    width: 100%;
    height: 30px;
    background-color: black;
    display: flex;
    justify-content: space-around;
}

.button
{
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
    background-color: #0E0D0C;
    height: 30px;
    text-align: center;
    padding: 0px 100px;
}

body
{
    background: linear-gradient(to right, #252525, rgb(113, 113, 113),black);
    margin: 0px;
    padding: 0px;
}

.button:hover
{
    color:black;
    background-color: rgb(174, 174, 174);
}


.title
{
    color: white;
    height: 100px;
    width: 300px;
    margin: 100px auto;
    border: 1px solid black;
}

.title-2
{
    padding: 0px;
    text-align: center;
    margin: auto 0px;
    font-size: 100px;
}

.loc, .pic, .about
{
    max-width: fit-content;
    border: 1px solid white;
    border-radius: 25px;
    background-color: rgb(61, 61, 61);
    padding: 0px 10px;
}

.eve
{
    width:400px;
    height: 300px;
}
.japan
{
    width: 400px;
    height: 300px;
}
.kaizin
{
    width: 400px;
    height: 300px;
}

.eve, .japan, .kaizin
{
    border: 1px solid white;
    border-radius: 25px;
}

.boxes
{
    height: fit-content;
    width: auto;
    display: flex;
    justify-content: space-around;
}

.txt
{
    color: white;
    text-align: center;
}

@media only screen and (max-width: 768px)
{
    .ent-page
    {
        width:100%
    }

    .boxes
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .loc, .about, .pic
    {
        margin: 10px 0;
    }
    .button
    {
        padding: 0;
    }
}

.ent-page
{
    width:100%
}