#page-2 div 
{
    background-color: #0E0D0C;
    display: inline-block;

}

#page-2 div a 
{
    display: inline-block;
}

#page-2
{
    width: 100%;
    height: 30px;
    background-color: black;
    display: flex;
    justify-content: space-around;
}

.button
{
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
    background-color: #0E0D0C;
    height: 30px;
    text-align: center;
    padding: 0px 100px;
}

body
{
    background: linear-gradient(to right, #252525, rgb(113, 113, 113),black);
    margin: 0px;
    padding: 0px;
}

.button:hover
{
    color:black;
    background-color: rgb(174, 174, 174);
}

.title
{
    color: white;
    font-size: 70px;
    text-align: center;
}

.pics
{
    width: 400px;
    height: 300px;
    border-radius: 25px;
    background-color: white;
    margin: 25px auto;
}

.pictures
{
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    height: 1000px;
}

.Headers
{
    width: 100%;
    height: 10px;
}

h1
{
    margin: 50px auto;
    color: white;
}

.pic-2 {
    width: 400px;
    height: 210px;
    margin: 0px auto;
    /* border-radius: 25px ; */
  }
  
  h2 {
    text-align: center;
    color: black;
    padding: 0px;
  }

  .small-screen
  {
    display: none;
  }

  @media only screen and (max-width: 768px)
{
    .ent-page
    {
        width:100%;
        height: 100%;
    }

    .button
    {
        padding: 0;
    }

    .pictures
    {
        display: flex;
        flex-direction: column;
    }
    h1
    {
        display: none;
    }

    .small-screen
    {
        display: block;
        text-align: center;
    }
    .pics
    {
        height: 350px;
    }
    h3
    {
        font-size: 60px;
    }
}